<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookie.basic.menu.MenuMapper">

	<!--  매퍼 조인 -->
	<resultMap type="MenuVO" id="selectResult">
		<id column="mmNum" property="mmNum"/>
		<result column="mmName"  property="mmName"/>
		<result column="mmPrice"  property="mmPrice"/>
		<result column="mmCount"  property="mmCount"/>
		<result column="cmNum"  property="cmNum"/>
		<result column="mmTenp"  property="mmTenp"/>
		<result column="optNums"  property="optNums"/>
		<collection property="menuFiles" javaType="ArrayList" ofType="MenuFilesVO" >
			<id column="mfNum" property="mfNum"/>
			<result column="mfName" property="mfName"/>
			<result column="moNum" property="moNum"/>
			
		</collection>
		
	
	
	</resultMap>



	<insert id="menuInsert" parameterType="MenuVO" useGeneratedKeys="true" keyProperty="mmNum">
		insert into menu values(null, #{mmName}, #{mmPrice}, #{mmCount}, #{cmNum}, #{mmTemp}, #{optNums})
	</insert>
	
	<select id="menuSelect" resultMap="selectResult" parameterType="MenuVO">
	select M.*,F.* from menu M left join menuFiles F
		on M.mmNum = F.mmNum
        where M.mmNum = #{mmNum}
        union
        select M.*,F.* from menu M right join menuFiles F
		on M.mmNum = F.mmNum
		where M.mmNum = #{mmNum}
	</select>
	
	<select id="menuList" resultType="MenuVO"> 
		select * from menu order by mmNum desc
	</select>

</mapper>