<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookie.basic.menu.MenuMapper">
	<insert id="menuInsert" parameterType="MenuVO">
		insert into menu values(null, #{mName}, #{mPrice}, #{mCount}, #{cNum}, #{mTemp}, #{optNums})
	</insert>
	
	<select id="menuSelect" resultType="MenuVO" parameterType="MenuVO">
		select * from menu where mNum=#{mNum}
	</select>
	
	<select id="menuList" resultType="MenuVO"></select>

</mapper>