<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookie.basic.menu.MenuFilesMapper">	
	<insert id="menuFilesInsert" parameterType="java.util.List">
		insert into menuFiles values
		<foreach collection="list" item="item" separator=",">
  			(null, #{item.mfName}, #{item.moName}, #{item.mmNum})
  		</foreach>
	</insert>
	

</mapper>