<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookie.basic.calendar.CalMapper">
		
	<!--출석체크  -->
	<insert id="checkInsert" parameterType="CalVO" useGeneratedKeys="true" keyProperty="checkNum">
	  		insert into checks values(null,#{memNum}, #{memCheck}, now())
	</insert>
	<!--출석 db가져오기 -->
	<select id="getCheck" parameterType="CalVO" resultType="CalVO">
			select * from checks where memNum=#{memNum} and memCheck="y"
	</select>

</mapper>