@charset "UTF-8";

.orderBox {
	width: 550px;
	height: 320px;
	background-color: white;
	border: 4px solid #ff674efa;
	margin-top: 16px;
	float: left;
	overflow: auto;
	overflow-x: hidden;
}

.orderBox2 {
	width: 542px;
	height: auto;
	margin: auto;
	overflow: hidden;
	padding-bottom: 15px;
}

.ListTake {
	text-align: center;
}

.ListWait {
	text-align: center;
	color: navy;
}

.listTr {
	font-family: CookieRun-Regular;
	font-size: 18px;
}

.ListT {
	width: 551;
	height: 60px;
	background-color: #ff674efa;
	color: white;
}

.ListNum {
	width: 150px;
	height: 30px;
	float: left;
}

.ListName {
	width: 142px;
	height: 30px;
	float: left;
	margin-left: 234px;
}

.ListDate {
	width: 350px;
	height: 30px;
	clear: both;
}

.hphone {
	width: 150px;
	height: 20px;
	border-style: none;
}

.mBox {
	width: 170px;
	height: auto;
	float: left;
	/* letter-spacing: -1.5px; */
	font-family: CookieRun-Regular;
	
	text-align: center;
	margin-top: 15px;
	font-size: 17px;
}

.phoneBox {
	width: 84%;
	height: 40px;
	clear: both;
	text-align: right;
	font-family: CookieRun-Regular;
	font-size: 17px;
	margin-top: 123px;
}

.phoneBox2 {
	width: 84%;
	height: 40px;
	clear: both;
	text-align: right;
	font-family: CookieRun-Regular;
	font-size: 17px;
}

.ordersUpdate {
	width: 80px;
	height: 40px;
	border-style: none;
	background-color: #ff674efa;
	border-radius: 4px;
	margin-left: 10px;
}

.msgBox {
	width: 150px;
	height: 40px;
	clear: both;
	font-family: CookieRun-Regular;
	font-size: 17px;
	margin-top: 15px;
	margin: auto;
}

#hphone {
	border-style: none;
	background-color: transparent;
}

.finish {
	clear: both;
	text-align: center;
	font-size: 20px;
	padding-top: 15px;
	font-family: CookieRun-Regular;
	font-size: 17px;
	color: navy;
}

/* .mNameCol {
	color: #3118bd;
}

.optNameCol {
	color: maroon;
} */
.optN {
	float: right;
}

.optC {
	float: right;
	clear: both;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: #ffd6c8;
}

::-webkit-scrollbar-thumb {
	background-color: #ffd6c8;
}