@charset "UTF-8";

.orderBox {
	width: 534px;
	height: 320px;
	background-color: white;
	border: 4px solid #ff674efa;
	margin-top: 0.3px;
}

.orderBox2 {
	width: 534px;
	height: auto;
	margin: auto;
	overflow: hidden;
}

.listTr {
	font-family: CookieRun-Regular;
	font-size: 18px;
}

.ListT {
	width: 526px;
	height: 60px;
	background-color: #ff674efa;
	color: white;
}

.ListNum {
	width: 150px;
	height: 30px;
	float: left;
}

.ListName {
	width: 142px;
	height: 30px;
	float: left;
	margin-left: 234px;
}

.ListDate {
	width: 350px;
	height: 30px;
	clear: both;
}
#hphone{
	width: 150px;
	height: 20px;
	border-style: none;
}