<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cookie.basic.board.qna.QnaMapper">
  	
  	<delete id="qnaDelete" parameterType="QnaVO">
  		delete from qna where num = #{num}
  	</delete>
  	
  	<update id="qnaUpdate" parameterType="QnaVO">
  		update qna set title = #{title}, writer = #{writer}, contents = #{contents}
  		where num = #{num}
  	</update>
  	
  	<select id="qnaSelect" parameterType="QnaVO">
  		select * from qna
  		where num = #{num}
  	</select>
  	
  	<insert id="qnaWrite" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
  		insert into qna
  			values(#{num}, #{writer}, #{contents}, now(), 0, 0, 0, #{secret})
  	</insert>
  	
  	<select id="qnaList" parameterType="Pager" resultType="QnaVO">
  		select num, REGEXP_REPLACE(writer, <![CDATA['(?<=.{3}).']]>, '*') writer, contents, regDate, ref, step, depth, secret from qna
  		where num > 0
  		order by ref desc, step asc LIMIT #{startRow}, #{perPage}
  	</select>

  	<select id="qnaCount" resultType="Integer">
  		select count(ref) from qna where num > 0
  	</select>
  </mapper>