<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cookie.basic.board.review.ReviewMapper">
  	<sql id="bs">
  		<choose>
  			<when test="kind == 'kt'">
  				where title like CONCAT('%',#{search},'%') and
  			</when>
  			<when test="kind == 'kc'">
  				where contents like CONCAT('%',#{search},'%') and
  			</when>
  			<when test="kind == 'kw'">
  				where writer like CONCAT('%',#{search},'%') and
  			</when>
  			<otherwise>
  				where
  			</otherwise>
  		</choose>
  	</sql>
  	
  	<resultMap type="StoreVO" id="Sselect">
  		<id column="ssNum" property="ssNum"/>
  		<result column="sName" property="sName"/>
  		<result column="sTel" property="sTel"/>
  		<result column="roadFullAddr" property="roadFullAddr"/>
  		<result column="sNotice" property="sNotice"/>
  		<result column="sOn" property="sOn"/>
  		<result column="memNum" property="memNum"/>
  		<result column="memId" property="memId"/>
  		<association property="storeFilesVO" javaType="StoreFilesVO">
  			<id column="fNum" property="fNum"/>
  			<result column="fName" property="fName"/>
  			<result column="oName" property="oName"/>  		
  		</association>
  	</resultMap>
  	
  	<select id="snameSelect" parameterType="StoreVO" resultMap="Sselect">
  		select S.sName, SF.fName 
  		from store S 
  			left outer join storeFiles SF on S.ssNum = SF.ssNum 
  		where S.ssNum = #{ssNum}
  	</select>
  	
  	<resultMap type="OrderListVO" id="OLselect">
  		<id column="olNum" property="olNum"/>
  		<result column="ocNum" property="ocNum"/>
  		<collection property="cartVOs" javaType="List" ofType="CartVO">
	  		<result column="mmNum" property="mmNum"/>
	  		<result column="mmCount" property="mmCount"/>
	  		<result column="nickname" property="nickname"/>
	  		<result column="ssNum" property="ssNum"/>
	  		<collection property="menuVOs" javaType="List" ofType="MenuVO">
		  		<result column="mmName" property="mmName"/>
		  		<collection property="menuOptions" javaType="List" ofType="MoptVO">
			  		<result column="optName" property="optName"/>
	  			</collection>
	  			<collection property="cartOptionVOs" javaType="List" ofType="CartOptionVO">
			  		<result column="optCount" property="optCount"/>
	  			</collection>
  			</collection>
 		</collection>
  	</resultMap>
  	
  	<select id="orderSelect" parameterType="OrderListVO" resultMap="OLselect">
  		select OL.olNum, OL.ocNum, C.mmNum, C.nickname, C.ssNum, M.mmName, C.mmCount, O.optName, CO.optCount
			from orderList OL
				left outer join cart C on OL.ocNum = C.ocNum
		        left outer join menu M on C.mmNum = M.mmNum
		        left outer join mopt O on M.mmNum = O.mmNum
		        left outer join cartOption CO on O.optNum = CO.optNum
	        where OL.olNUm = #{olNum};
  	</select>
  	
  	<resultMap type="ReviewVO" id="Select">
  		<id column="num" property="num"/>
  		<result column="title" property="title"/>
  		<result column="writer" property="writer"/>
  		<result column="contents" property="contents"/>
  		<result column="regDate" property="regDate"/>
  		<result column="ssNum" property="ssNum"/>
  		<result column="mmNum" property="mmNum"/>
  		<collection property="reviewFilesVO" javaType="List" ofType="ReviewFilesVO">
	  		<id column="fnum" property="fnum"/>
	  		<result column="oname" property="oname"/>
	  		<result column="fname" property="fname"/>
  		</collection>
  	</resultMap>
  	
  	<delete id="reviewDelete" parameterType="ReviewVO">
  		delete from review where num = #{num}
  	</delete>
  	
  	<update id="reviewUpdate" parameterType="ReviewVO">
  		update review set title = #{title}, writer = #{writer}, contents = #{contents}
  		where num = #{num}
  	</update>
  	
  	<select id="reviewSelect" parameterType="ReviewVO" resultMap="Select">
  		select N.*, F.fnum, F.fname, F.oname
  		from (select *, lag(num,1) over(order by num) prev,
  				lag(title,1) over(order by num) prevT,
           		lead(num,1) over(order by num) next,
            	lead(title,1) over(order by num) nextT
		from review) N left outer join reviewFiles F
  		on N.num = F.num
  		where N.num = #{num}
  	</select>
  	
  	<insert id="reviewWrite" parameterType="ReviewVO" useGeneratedKeys="true" keyProperty="num">
  		insert into review values(0, #{title}, #{writer}, #{contents}, now())
  	</insert>
  	
  	<select id="reviewList" parameterType="Pager" resultType="reviewVO">
  		select * from review
  		<include refid="bs"></include> num > 0
  		order by num desc LIMIT #{startRow}, #{perPage}
  	</select>

  	<select id="reviewCount" resultType="Integer" parameterType="Pager">
  		select count(num) from review
  		<include refid="bs"></include> num > 0
  	</select>
  </mapper>