<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookie.basic.menu.MenuFilesMapper">	
	<insert id="menuFilesInsert" parameterType="menuFilesVO" useGeneratedKeys="true" keyProperty="mfNum">
		insert into menuFiles values (null, #{mfName}, #{moName}, #{mmNum})
	</insert>
	
	<update id="menuFilesUpdate" parameterType="menuFilesVO">
		update menuFiles set mfName = #{mfName}, moName=#{moName} where mfNum=#{mfNum}
	</update>
	

</mapper>