@charset "UTF-8";
/* header1 */
.header1{
	background: #ffede3;
	width:100%;
	height: 43px;
	border-bottom: 1px solid #ffd6bf;
	position: fixed;
	z-index: 999;
}

.h1_1{

	float:right;
	height: 100%;
	width:300px;
}
.h1_txt{
	float: right;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 43px;
	font-size: 20px;
	font-family: CookieRun-Black;
}

.h1_txt > a{
	color:#ff712d;
}

.h1_txt > a:hover{
	color:#f23600;
}

a:hover{
	text-decoration: none;
}

.cate > p{
	height: 45px;
	margin-bottom: 0px;
}

.cate_1 > a, .cate_2 > a{
	color:#f23600;

}

.cate_1 > a:hover, .cate_2 > a:hover{
	text-decoration: none;
}

/* header2 */
.header2{
	background: #ffede3;
	width:340px;
	height: 1800px;
	position: fixed;
	z-index: 990;
	border-right: 1px solid #ffd6bf;
	
}

.h_img{
	height:150px;
	margin: 0 auto;
	margin-top: 150px;
}

.M_imgg{
	background-image: url("../../images/header/mm.png");
	background-size: cover;
	width:280px;
	height: 200px;
	margin-left: 30px;
}

.M_img{
	float:left;
	margin-left:25px;
	width:130px;
	height: 160px;
	background-image: url("../../images/header/m1.jpg");
	background-size: cover;
}
.M_img2{
	width:150px;
	height: 200px;
	float:left;
	background-image: url("../../images/header/m2.jpg");
	background-size: cover;
	
}
.cate_1{
	font-family: CookieRun-Black;
	width:340px;
	text-align: center;
	font-size:50px;
	margin-top:30px;
	color:#f23600;
}
.cate_2{
	font-family: CookieRun-Black;
	width:110px;
	margin: 0 auto;
	font-size:40px;
	border-bottom: 3px solid #ffd6bf;
	color:#f23600;
}
.cate{
	margin-top:10px;
	width:340px;
	text-align: center;
	font-size: 33px;
	font-weight:700;
	letter-spacing: -1px;
	color:#ff712d;
	font-family: CookieRun-Black;
	margin-bottom: 10px;
}

.cate > p > a{
	color:#ff712d;
}

.cate > p > a:hover{
	color:#f23600;
}

#logout{
	border:none;
	background: transparent;
	font-size: 20px;
	font-family: CookieRun-Black;
	color:#ff712d;

}

#logout:hover {
	color:#f23600;
}
