<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.cookie.basic.member.MemberFilesMapper">
    
    	<!-- 회원가입시 이미지삽입 -->
    	<insert id="memberFilesInsert" parameterType="MemberFilesVO">
    		insert into memberFiles values(null,#{memNum},#{fname},#{oname})
    	</insert>
    
    	<!--셀렉트  -->
    	<select id="memberFilesSelect" parameterType="MemberFilesVO" resultType="MemberFilesVO">
 			select * from memberFiles where memNum= #{memNum}
 		</select>
 		
 		<!--이미지 수정 -->
    	<update id="memberFilesUpdate" parameterType="MemberFilesVO" >
			 update memberFiles set fnum=#{fnum}, fname=#{fname}, oname=#{oname}
			 where memNum=#{memNum} 
    	</update>
    </mapper>