<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cookie.basic.admin.AdminMapper">

<!--회원 검색 -->
  	<sql id="search">
 		<choose>
 			<when test="kind =='ki'">
 				where memId like CONCAT('%',#{search},'%') 
 			</when>
 			<otherwise>
 				where nickname like CONCAT('%',#{search},'%')
 			</otherwise>
 		</choose>
 	</sql>
 
<!--전체회원리스트-->
	<select id="adminMemberList" parameterType="Pager" resultType="MemberVO">
			select * from members <include refid="search"></include> and grade=#{grade}
			order by memNum desc 
			limit #{startRow},#{perPage} 	
	</select>	

<!--전체회원리스트 카운트 -->
   	<select id="adminMemberCount"  resultType="Integer" parameterType="Pager">
   			select count(memNum) from members <include refid="search"></include>and grade=#{grade}
   	</select>

<!--회원탈퇴  -->
	<delete id="pmemberDelete" parameterType="MemberVO">
			delete from members where memNum=#{memNum}
	</delete>
	
<!--폐업업뎃-->
<update id="storeAdminUpdate" parameterType="StoreCloseVO">
	update storeClose set cwait=1 where ssNum=#{ssNum}
</update>

<!--회원검색 -->
	<select id="pmemberSearch" parameterType="MemberVO" resultType="MemberVO">
		select * from members where memNum = #{memNum}
	</select>
</mapper>

