@charset "UTF-8";


.storeHeader {
	width: 100%;
	height: 150px;
	background-color: #ff674efa;
	overflow: hidden;
}

.AddMenuTi {
	width: 600px;
	height: 70px;
	font-size: 42px;
	font-family: CookieRun-Regular;
	line-height: 60px;
	text-align: center;
	padding-top: 50px;
	margin-left: 640px;
}


.contents {
	width: 1300px;
	height: auto;
	overflow: hidden;
	padding-bottom: 30px;
	background-color: aqua;
	margin: 0 auto;
	margin-top: 150px;
}

.SelectBox {
	width: 900px;
	height: 350px;
	background-color: blue;
	margin: 0 auto;
	margin-top: 20px;
}

.btnBox{
	width: 250px;
	height: 50px;
	background-color: fuchsia;
	float: right;
	margin-top: 20px;
}

.IMGBox{
	width: 350px;
	height: 350px;
	background-color: gray;
	float: left;
}


.DetailBox{
	width: 550px;
	height: 350px;
	background-color: lime;
	float: left;
}




