<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cookie.basic.cart.CartMapper">

	<insert id="cartInsert" parameterType="CartVO" useGeneratedKeys="true" keyProperty="cartNum">
		insert into cart
		values(0,#{mmNum},#{mmCount},0,#{nickname},#{lot},#{cartTotal})
	</insert>
	<insert id="cartOptionInsert" parameterType="CartOptionVO">
		insert into cartOption values(0,#{optNum},#{optCount},#{cartNum})
	</insert>
	
	<insert id="cartOptNo" parameterType="CartVO">
		insert into cart values(0,#{mmNum},#{mmCount},0,#{nickname},#{lot},#{cartTotal})
	</insert>
	

	<resultMap type="CartVO" id="cartResult">
		<id column="cartNum" property="cartNum"/>
		<result column="mmNum" property="mmNum"/>
		<result column="mmCount" property="mmCount"/>
		<result column="cartStatus" property="cartStatus"/>
		<result column="nickname" property="nickname"/>
		<result column="lot" property="lot"/>
		<result column="cartTotal" property="cartTotal"/>
		<collection property="cartOptionVOs" javaType="List" ofType="CartOptionVO">
			<id column="coNum" property="coNum"/>
			<result column="optNum" property="optNum"/>
			<result column="optCount" property="optCount"/>
			<result column="cartNum" property="cartNum"/>
		</collection>
	</resultMap>
	
	<select id="cartSelect" resultType="CartVO" parameterType="CartVO">
		select * from cartOption where cartNum in (select cartNum from cart where nickname=#{nickname})
	</select>
	
	<select id="cartOne" parameterType="CartVO" resultType="CartVO">
		select * from cart where lot=#{lot} and nickname=#{nickname} 
	</select>
	
	<update id="cartAdd" parameterType="CartVO">
		update cart set mmCount=#{mmCount} where cartNum=#{cartNum};
	</update>
	
	 <select id="cartList" parameterType="CartVO" resultMap="cartResult">
		select * from cart C
		left outer join cartOption CO
	    on C.cartNum = CO.cartNum
		where cartStatus=0 and nickname=#{nickname}
	</select>
	
</mapper>
