<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  		<typeAliases>
  					<typeAlias type="com.cookie.basic.member.MemberVO" alias="memberVO" />
  					<typeAlias type="com.cookie.basic.member.MemberFilesVO" alias="memberFilesVO" />
  					<typeAlias type="com.cookie.basic.util.Pager" alias="pager" />
	  	</typeAliases>
  </configuration>