<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
    <configuration>
  	<typeAliases>
  		<typeAlias type="java.lang.Double" alias="Double"/>
  		<typeAlias type="java.lang.Integer" alias="Integer"/>
  		<typeAlias type="java.lang.String" alias="String"/>
  		<typeAlias type="java.util.Map" alias="Map"/>
  		<typeAlias type="java.util.List" alias="List"/>
  		
  		<typeAlias type="com.cookie.basic.menu.MenuVO" alias="MenuVO"/>
  		
  	</typeAliases>


  </configuration>