@charset "UTF-8";
.subTitle_wrap {
    width: 100%;
    height: 98px;
    background: #ffffff;
}
.subTitle_inner {
	width: 1100px;
	height: 91px;
    margin: 0 auto;
    position: relative;
}
.subTitle_wrap h2 {
	font-weight: bold;
	font-size: 30px;
    color: #222222;
    padding-top: 30px;
    position: relative;
}
.container {
	width: 100%;
}
.content_wrap {
    margin: 0 auto;
    position: relative;
    width: 1100px;
}
section.notice_view_wrap {
	position: relative;
    margin-bottom: 60px;
}
section.notice_view_wrap header {
	border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    padding: 20px 140px 20px 20px;
}
section.notice_view_wrap header h3 {
	font-size: 18px;
    font-weight: bold;
    color: #222222;
}
article.notice_view_info {
	padding: 30px 10px;
    border-bottom: 1px solid #dddddd;
}
div.btn_notice_wrap {
	width: 1100px;
    height: 45px;
    position: relative;
    margin-top: 20px;
}
p.btn_notice_list {
	border-radius: 3px;
    height: 45px;
    width: 84px;
    background: #666666;
    position: absolute;
    right: 0;
    top: 0;
}
p.btn_notice_list a {
	display: block;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    height: 45px;
    line-height: 45px;
    width: 100%;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}
a {
	margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    color: #666;
    background: transparent;
    cursor: pointer;
}
table.content_tb {
	width: 1100px;
    margin-bottom: 75px;
}
table.content_tb th {
	padding: 15px 0 15px 20px;
    font-size: 14px;
    color: #222222;
    background: #f4f4f2;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
table.content_tb th.fth {
	border-top: 1px solid #333333;
}
table.content_tb td {
	padding: 15px 0 15px 20px;
    font-size: 14px;
    color: #666666;
    border-bottom: 1px solid #dddddd;
}
table.content_tb td.ftd {
	border-top: 1px solid #333333;
}
table.content_tb th.lth {
	border-bottom: 1px solid #333333;
}
table.content_tb td.ltd {
	border-bottom: 1px solid #333333;
}





