@charset "UTF-8";
.subTitle_wrap {
    width: 100%;
    height: 98px;
    background: #ffd6bf;
    margin-top:-20px;
}
.subTitle_inner {
	width: 1100px;
	height: 91px;
    margin: 0 auto;
    position: relative;
}
.subTitle_wrap h2 {
	font-weight: bold;
	font-size: 30px;
    color: #f23600;
    padding-top: 30px;
    position: relative;
    font-family: CookieRun-Black;
}

/*c*/

#external-events{
	left: 400px;
	top:300px;
	
}

.fc-button-primary:disabled {
  color: #fff;
  background-color: #ff712d;
  border-color: #2C3E50;
}

.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
  color: #fff;
  background-color: #ff712d;
  border-color: #ff712d ;
  opacity: 0.85;
}

.fc-toolbar h2{
	font-family: CookieRun-Black;
	font-size:30px;
	color:#f23600;
}

.fc-button-primary{
	background: #ff712d;
	border:#ff712d;
}
.fc-button-primary:hover{
	background: #f23600;
}


.fc-unthemed td.fc-today {
	background: #ff712d;  
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
  border-color: #ffc9ac;
}

.fc th {
	font-family: CookieRun-Regular;
	font-size:25px;
	color:#ff712d;
}

/* 본문 */
table {
	border-collapse: collapse;
    border-spacing: 0;
}
.qna_tb {
	table-layout: fixed;
    width: 100%;
    border-top: 1px solid #f23600;
    margin-top:50px;
}
.qna_tb th {
	height: 60px;
    padding-top: 2px;
    background: #ffede3;
    font-size: 12px;
    font-weight: normal;
    border-bottom: 1px solid #ffd6bf;
    text-align: center;
    font-family: CookieRun-Regular;
    font-size:23px;
    color:#ff712d;
}
.qna_tb td {
	height: 38px;
    padding-top: 2px;
    font-size: 12px;
    font-weight: normal;
    color: #666;
    text-align: center;
    letter-spacing: 0;
    border-bottom: 1px solid #ffd6bf;
}
.qna_tb td.td_view {
	padding-left: 22px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}
/* 미완료 */
.qna_tb td .state {
	display: inline-block;
    width: 51px;
    height: 21px;
    line-height: 21px;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle;
    border: 1px solid #e1e6f8;
    font-size: 12px;
    color: #536dfe;
    letter-spacing: -1px;
}
/* 답변완료 */
.qna_tb td .state.complete {
	background: #e1e6f8;
    border: 1px solid #536dfe;
    color: #536dfe;
}
.qna_tb td .view_txt {
	display: inline-block;
    width: 700px;
    height: 18px;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    line-height: 1.2;
}
/* 질문, 답변 */
.qna_tb td.qna_wrap {
	width: 100%;
    height: auto;
    padding: 0;
    border: none;
}
/* 질문 */
.qna_tb td.qna_wrap .question {
	position: relative;
    width: 95%;
    margin: 0 auto;
    padding: 16px 16px 18px 108px;
    border-bottom: 1px solid #ffede3;
    background: #fff5f0;
    font-size: 14px;
    text-align: left;
    line-height: 1.3;
}
.qna_tb td.qna_wrap .iconQ {
	position: absolute;
    top: 8px;
    left: 25px;
    width: 35px;
    height: 35px;
    background: url(../../images/board/q-circle.png) no-repeat;
    font-size: 0;
    line-height: 0;
}
.qna_tb td.qna_wrap .btns_wrap {
	margin-top: 12px;
}
a.btn_reply {
	font-size: 12px;
    color: #666;
    line-height: 1.4;
    text-decoration: none;
}
/* 답변 */
.qna_tb td.qna_wrap .answer {
	position: relative;
    width: 95%;
    margin: 0 auto;
    padding: 16px 0 18px 108px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
    background: #f5f5f5;
    font-size: 14px;
    text-align: left;
    line-height: 1.3;
}
.qna_tb td.qna_wrap .iconA {
	position: absolute;
    top: 8px;
    left: 25px;
    width: 36px;
    height: 36px;
    background: url(../../images/board/a-circle.png) no-repeat;
    font-size: 0;
    line-height: 0;
}
.btn_wrap {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	width: 84px;
	height: 45px;
	border-radius: 3px;
}
input.btn_write {
	display: block;
	float: right;

	border: none;
	background: transparent;
	font-family: CookieRun-Black;
	font-size: 25px;
	color:#f23600;
	font-weight: 200;
	
	
}
input.btn_write:hover {
	background: transparent;
	color:#ff5422;
	font-weight: 300;
	text-decoration: none;
}

.pagination{
	margin-left: 300px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span{
	border:none;
	font-family: CookieRun-Black;
	border:none;
	font-size: 25px;
	color:#ff712d;
	margin-left: 30px;
	text-decoration: none;
}

.pagination>li>a, .pagination>li>span{
	border:none;
	font-family: CookieRun-Black;
	border:none;
	font-size: 25px;
	color:#ff712d;
	margin-left: 30px;
}

.pagination>li>a:hover, .pagination>li>span:hover{
	color: #f23600
}














