@charset "UTF-8";

.errorBody {
	width: 900px;
	height: 600px;
/* 	border: solid 5px #ff712d; */
	margin: auto;
	margin-top: 150px;
}

.img {
	float: left;
	margin-left: 150px;
	margin-top: 15px;
}

.errorBody2 {
	width: 200px;
	height: 20%;
	font-family: CookieRun-Regular;
	font-size: 80px;
	text-align: center;
	float: left;
	margin-top: 150px;
}

.errorBody3 {
	width: 100%;
	height: 30%;
	font-family: CookieRun-Regular;
	font-size: 34px;
	text-align: center;
	line-height: 150px;
	clear: both;
}
