@charset "UTF-8";

.container > h1{
	font-family: CookieRun-Black; 
	color:#270c0c; 
	padding:35px;
	text-align: center;
}
.body_main{
	background-image:url("../../../images/main/main1.jpg");
	
}

.form-group >label{
	font-family: CookieRun-Black;
	font-size: 28px;
	color:#270c0c;
}

.form-control{
	margin:0 auto;
	height: 40px;
	margin-top: 10px;
	width: 50%;
}
#memberVO{
	text-align: center;
}
.btn_join{
	float: right;
	background: white;
	border: none;
	font-family: CookieRun-Black; 
	color:#270c0c; 
	background:transparent;
	font-size:30px;
	margin-bottom: 20px;
	
}

.btn_join:hover {
	border-bottom: 1px solid black;
}