<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cookie.basic.orders.OrdersMapper">
  
  <insert id="ordersInsert" parameterType="OrdersVO" useGeneratedKeys="true" keyProperty="ooNum">
   insert into orders values(null, now(), #{ooTotal}, #{nickname}, #{phone}, #{ssNum}, #{takeOut},0)
  </insert>
  
  <update id="ordersUpdate" parameterType="OrdersVO">
   update orders set ooStatus=1 where ooNum=#{ooNum}
  </update>
  
  <!--오더리스트 아님!  -->
  <select id="ordersList" parameterType="OrdersVO" resultType="OrdersVO">
  	select * from orders where nickname = #{nickname}
  </select>
  
  

  <!-- 오더리스트 매퍼 -->
	<resultMap type="OrderListVO" id="OrderListJoin">
		<id column="olNum" property="olNum" />
		<collection property="ordersVO" javaType="OrdersVO">
			<id column="ooNum" property="ooNum" />
			<result column="ooDate" property="ooDate" />
			<result column="ooTotal" property="ooTotal" />
			<result column="nickname" property="nickname" />
			<result column="phone" property="phone" />
			<result column="ssNum" property="ssNum" />
			<result column="takeOut" property="takeOut" />
			<result column="ooStatus" property="ooStatus" />
		</collection>
		<collection property="cartVO" javaType="CartVO">
			<id column="cartNum" property="cartNum" />
			<result column="mmCount" property="mmCount" />
			<result column="cartStatus" property="cartStatus" />
			<collection property="menuVOs" javaType="ArrayList" ofType="MenuVO">
				<id column="mmNum" property="mmNum" />
				<result column="mmName" property="mmName" />
				<result column="mmPrice" property="mmPrice" />
				<result column="mmCount" property="mmCount" />
				<result column="cmNum" property="cmNum" />
				<result column="mmTemp" property="mmTemp" />
				<result column="ssNum" property="ssNum" />
				<collection property="menuOptions" javaType="ArrayList" ofType="MoptVO">
					<id column="optNum" property="optNum" />
					<result column="optName" property="optName" />
					<result column="optPrice" property="optPrice" />
					<result column="optCount" property="optCount" />
				</collection>
			</collection>
		</collection>
	</resultMap>

	
	
	<!--ordersVO 안에 nickname을 넣어서 전달  -->
	<!--  고객이 닉네임으로 조회 -->
	<select id="orderListList" resultMap="OrderListJoin" parameterType="OrdersVO">
	select OL.*, OD.*, CA.*,ME.*, MO.*
        from orderList OL
        left outer join orders OD on OL.ooNum = OD.ooNum
        left outer join cart CA on OL.cartNum = CA.cartNum
        left outer join menu ME on CA.mmNum = ME.mmNum
        left outer join mopt MO on ME.mmNum = MO.mmNum
        where OD.nickname = #{nickname};
	</select>
  
  <!-- 점주가 ssNum으로 조회 -->

  
  
  
   <select id="orderListSS" resultMap="OrderListJoin" parameterType="OrdersVO">

	select OL.*, OD.*, CA.*,ME.*, MO.*
        from orderList OL
        left outer join orders OD on OL.ooNum = OD.ooNum
        left outer join cart CA on OL.cartNum = CA.cartNum
        left outer join menu ME on CA.mmNum = ME.mmNum
        left outer join mopt MO on ME.mmNum = MO.mmNum
        where OD.ssNum = #{ssNum};
	</select>
  

 <insert id="orderListInsert" parameterType="OrderListVO" useGeneratedKeys="true" keyProperty="olNum">
 	insert into orderList values(null ,#{ooNum}, #{cartNum})
 </insert>

  
  

</mapper>